:root {
    --black: #000;
    --white: #fff;
    --off-focus: rgb(125, 125, 125);
    --hover: rgb(174, 174, 174);
    --cream: beige;
    --blue: rgb(183, 183, 255);
    --purple: rgb(253, 144, 253);
    --green: rgb(182, 252, 182);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    margin: 10px 100px;
    justify-content: space-between;
}

header p {
    color: var(--black);
    margin-left: 35px;
}

header:hover p {
    cursor: pointer;
}

nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin-right: 35px;
}

nav ul li a:active {
    font-size: 17px;
}

nav ul li a:focus {
    color: var(--black);
}

nav ul li:hover a {
    color: var(--hover);
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: var(--off-focus);
}

.name {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

#resume {
    color: #000;
}

main {
    padding: 0 200px;
    text-align: center;
}

.bio {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    color: var(--off-focus);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 40px;
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px 50px 80px;
    overflow: hidden;
} 

.card:hover {
    opacity: 85%;
    cursor: pointer;
    transform: scale(100.5%);
}

.first-card {
    background-color: var(--cream);
    border: var(--cream);
    flex: 1 0 400px;
    width: 800px;
    height: 200px;
}

.second-card {
    background-color: var(--blue);
    border: var(--blue);
    flex: 1 0 400px;
    width: 800px;
    height: 200px;}

.third-card {
    background-color: var(--purple);
    border: var(--purple);
    flex: 1 0 400px;
    width: 800px;
    height: 200px;}

.forth-card {
    background-color: var(--green);
    border: 1px  var(--green);
    flex: 1 0 380px;
    width: 800px;
    height: 200px;
}

/* .first-card {
    background-color: var(--cream);
    border: var(--cream);
    flex: 1 0 400px;
    width: 800px;
    height: 200px;
}

.second-card {
    background-color: var(--blue);
    border: var(--blue);
    flex: 1 0 400px;
    width: 800px;
    height: 200px;}

.third-card {
    background-color: var(--purple);
    border: var(--purple);
    flex: 1 0 400px;
    width: 700px;
}

.forth-card {
    background-color: var(--green);
    border: 1px  var(--green);
    flex: 1 0 380px;
    width: 650px;
} */

.dev-tools {
    padding-top: 20px;
}

.dev-tools img {
    width: 25px;
    height: 25px;
}

.github img {
    width: 25px;
    height: 25px;
}

.first-github-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: var(--cream);
    border: var(--cream);   
}

.second-github-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: var(--blue);
    border: var(--blue);
}

.third-github-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: var(--purple);
    border: var(--purple);
}

.forth-github-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: var(--green);
    border: 1px  var(--green);
}

.github-links {
    border-radius: 15px;
    opacity: 80%;
}

.github-links a {
   color: var(--black);
   padding-right: 5px;
}

.github-links img {
   width: 25px;
   height: 25px;
}

.github-links:hover {
    color: #000;
    opacity: 60%;
    cursor: pointer;
    transform: scale(102%);
}

.card-info {
    display: block;
    text-align: left;
    margin: 40px;
}

.card-info-logo {
    width: 40px;
    height: 40px;
}

.card-info .tools {
    font-size: 12px;
    color: var(--off-focus);
}

.card-info-name {
    color: var(--black);
    font-size: 30px;
}

.card-img {
    position: relative;
    display: flex;
    width: 800px;
    height: 400px;
    top: -280px;
    left: 200px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    transform: rotate(-25deg)
}

#about {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

.about {
    color: var(--black);
    text-align: center;
}

.about-me {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}

.about-me img {
    display: flex;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 0;
    margin-right: 30px;
    justify-content: center;
    align-self: center;
}

#contact {
    display: flex;
    flex-direction: column;
    margin: 80px 0;
    justify-content: center;
    align-items: center;
}

.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-me svg {
    width: 25px;
    height: 25px;
    padding: 0 40px;
    fill: #000;
}

.contact-me svg:hover {
    width: 25px;
    height: 25px;
    padding: 0 40px;
    fill: var(--hover);
}

footer {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 10px;
    letter-spacing: 3px;
    background: var(--off-focus);
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.bold-text {
    font-weight: 100px;
}

.resume-class {
    display: flex;
}

.resume-class:hover {
    opacity: 60%;
}

.resume-class a {
    padding-right: 3px;
}

.resume-class img {
    max-width: 20px;
    max-height: 20px;
}

@media screen and (max-width: 992px) {
    .name {
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    .logo-text {
        font-size: 14px;
    }

    .bio {
        font-size: 14px;
        text-align: center;
        margin-bottom: 40px;
    }

    nav a {
        font-size: 14px;
        text-decoration: none;
        color: var(--off-focus);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-top: 7px;
    }

    .first-card {
        background-color: var(--cream);
        border: var(--cream);
        flex: 1 0 300px;
        width: 530px;
    }
    
    .second-card {
        background-color: var(--blue);
        border: var(--blue);
        flex: 1 0 300px;
        width: 530px;
    }
    
    .third-card {
        background-color: var(--purple);
        border: var(--purple);
        flex: 1 0 300px;
        width: 530px;
    }
    
    .forth-card {
        background-color: var(--green);
        border: 1px  var(--green);
        flex: 1 0 300px;
        width: 530px;
    }
    
    .dev-tools {
        padding-top: 0;
    }
    
    .card-info .tools {
        font-size: 10px;
        color: var(--off-focus);
    }    
    
    .dev-tools img {
        width: 20px;
        height: 20px;
    }

    .github img {
        width: 20px;
        height: 20px;
    }

    .about {
        color: var(--black);
        text-align: center;
        font-size: 14px;
    }

    .about-me img {
        display: flex;
        position: relative;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        margin-top: 0;
        margin-right: 30px;
        justify-content: center;
        align-self: center;
    }
    
    .card-info-name {
        color: var(--black);
        font-size: 22px;
        margin: 20px 0;
    }

    .card-info-logo {
        width: 35px;
        height: 35px;
    }
    
    .card-img {
        position: relative;
        display: flex;
        width: 800px;
        height: 400px;
        top: -300px;
        left: 200px;
        border-radius: 40px;
        justify-content: center;
        align-items: center;
        transform: rotate(-25deg)
    } 

    .card-info-logo {
        width: 30px;
        height: 30px;
    }

    .github-links a {
        font-size: 14px;
        color: var(--black);
        padding-right: 5px;
    }
    
    .resume-class img {
        max-width: 18px;
        max-height: 18px;
    } 
    .project {
        font-size: 40px;
    }
    
    main {
        padding: 0 100px;
        text-align: center;
    }

    .about {
        font-size: 14px;
    }

    .resume-class {
        margin-top: 5px;
        display: flex;
    }

    #about {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }

}
  
  /* Large smartphones - navbar changes color */
@media screen and (max-width: 824px) {
    header {
        display: flex;
        margin: 10px 60px;
        justify-content: space-between;
    }

    .name {
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    .logo-text {
        font-size: 12px;
    }

    .bio {
        font-size: 12px;
        text-align: center;
        margin-bottom: 40px;
    }

    nav a {
        font-size: 12px;
        text-decoration: none;
        color: var(--off-focus);
    }

    #about {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }
    
    .about {
        color: var(--black);
        text-align: center;
        font-size: 12px;
    }

    .github-links a {
        font-size: 12px;
        color: var(--black);
        padding-right: 5px;
    }
    
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 30px;
    }
    
    .about-me img {
        display: flex;
        position: relative;
        height: 170px;
        width: 170px;
        border-radius: 50%;
        margin-top: 0;
        margin-right: 0;
        justify-content: center;
        align-self: center;
    }

    .card-info-name {
        color: var(--black);
        font-size: 21px;
        margin: 20px 0;
    }

    .card-info-logo {
        width: 32px;
        height: 32px;
    }

    .project {
        font-size: 30px;
    }

    .contact-me svg {
        width: 20px;
        height: 20px;
        padding: 0 40px;
        fill: #000;
    }

    footer {
        display: flex;
        width: 100%;
        height: 30px;
        font-size: 8px;
        letter-spacing: 3px;
        background: var(--off-focus);
        color: var(--white);
        justify-content: center;
        align-items: center;
    }

    .resume-class img {
        max-width: 16px;
        max-height: 16px;
    }
}
  
  /* Small smartphones - image placeholders change color */
@media screen and (max-width: 682px) {
    header {
        display: flex;
        margin: 10px 20px;
        justify-content: space-between;
    }

    .name {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .logo-text {
        font-size: 10px;
    }

    .bio {
        font-size: 10.5px;
        text-align: center;
        margin-bottom: 40px;
    }

    nav a {
        font-size: 10px;
        text-decoration: none;
        color: var(--off-focus);
    }

    .first-card {
        background-color: var(--cream);
        border: var(--cream);
        flex: 1 0 280px;
        width: 350px;
    }
    
    .second-card {
        background-color: var(--blue);
        border: var(--blue);
        flex: 1 0 280px;
        width: 350px;
    }
    
    .third-card {
        background-color: var(--purple);
        border: var(--purple);
        flex: 1 0 250px;
        width: 350px;
    }
    
    .forth-card {
        background-color: var(--green);
        border: 1px  var(--green);
        flex: 1 280px;
        width: 350px;
    }
    
    .dev-tools {
        padding-top: 0;
    }
    
    .dev-tools img {
        width: 20px;
        height: 20px;
    }

    .github img {
        width: 18px;
        height: 18px;
    }
    
    .card-info-name {
        color: var(--black);
        font-size: 20px;
        margin: 20px 0;
    }
    
    .card-img {
        position: relative;
        display: flex;
        width: 300px;
        height: 200px;
        top: -200px;
        left: 170px;
        border-radius: 40px;
        justify-content: center;
        align-items: center;
        transform: rotate(-25deg)
    }  

    .card-info-name {
        color: var(--black);
        font-size: 18px;
        margin: 20px 0;
    }

    .card-info-logo {
        width: 25px;
        height: 25px;
    }

    .about {
        color: var(--black);
        text-align: center;
        font-size: 10.5px;
    }

    .github-links a {
        font-size: 10.5px;
        color: var(--black);
        padding-right: 5px;
    }

    .about-me img {
        display: flex;
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top: 0;
        margin-right: 0;
        justify-content: center;
        align-self: center;
    }
    
    main {
        padding: 0 50px;
        text-align: center;
    }

    footer {
        display: flex;
        width: 100%;
        height: 30px;
        font-size: 7px;
        letter-spacing: 3px;
        background: var(--off-focus);
        color: var(--white);
        justify-content: center;
        align-items: center;
    }

    .resume-class img {
        max-width: 13px;
        max-height: 13px;
    }
}

@media screen and (max-width: 550px) {
    header {
        display: flex;
        margin: 10px 10px;
        justify-content: space-between;
    }

    .first-card {
        background-color: var(--cream);
        border: var(--cream);
        flex: 1 0 300px;
        width: 400px;
    }
    
    .second-card {
        background-color: var(--blue);
        border: var(--blue);
        flex: 1 0 300px;
        width: 400px;
    }
    
    .third-card {
        background-color: var(--purple);
        border: var(--purple);
        flex: 1 0 300px;
        width: 400px;
    }
    
    .forth-card {
        background-color: var(--green);
        border: 1px  var(--green);
        flex: 1 0 300px;
        width: 400px;
    }
    
    .dev-tools {
        padding-top: 0;
    }
    
    .dev-tools img {
        width: 25px;
        height: 25px;
    }

    .github img {
        width: 18px;
        height: 18px;
    }
    
    .card-info-name {
        color: var(--black);
        font-size: 18px;
        margin: 20px 0;
    }
    
    .card-img {
        position: relative;
        display: flex;
        width: 400px;
        height: 220px;
        top: -210px;
        left: 200px;
        border-radius: 40px;
        justify-content: center;
        align-items: center;
        transform: rotate(-20deg)
    }  

    .about-me img {
        display: flex;
        position: relative;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        margin-top: 0;
        margin-right: 0;
        justify-content: center;
        align-self: center;
    }
    
    main {
        padding: 0 50px;
        text-align: center;
    }
}

@media screen and (max-width: 445px) {
    header {
        display: flex;
        margin: 10px 10px;
        justify-content: space-between;
    }

    .first-card {
        background-color: var(--cream);
        border: var(--cream);
        flex: 1 0 300px;
        width: 350px;
    }
    
    .second-card {
        background-color: var(--blue);
        border: var(--blue);
        flex: 1 0 300px;
        width: 350px;
    }
    
    .third-card {
        background-color: var(--purple);
        border: var(--purple);
        flex: 1 0 300px;
        width: 350px;
    }
    
    .forth-card {
        background-color: var(--green);
        border: 1px  var(--green);
        flex: 1 0 300px;
        width: 350px;
    }
    
    .dev-tools {
        padding-top: 0;
    }
    
    .dev-tools img {
        width: 25px;
        height: 25px;
    }
    
    .card-info-name {
        color: var(--black);
        font-size: 18px;
        margin: 20px 0;
    }
    
    .card-img {
        position: relative;
        display: flex;
        width: 400px;
        height: 200px;
        top: -210px;
        left: 160px;
        border-radius: 40px;
        justify-content: center;
        align-items: center;
        transform: rotate(-25deg)
    }  

    .about-me img {
        display: flex;
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-top: 0;
        margin-right: 0;
        justify-content: center;
        align-self: center;
    }
    
    main {
        padding: 0 50px;
        text-align: center;
    }
}

